@import "tailwindcss";

:root {
  --background: #f5f5f4;
  --foreground: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

button,
a {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}